.main-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 20px;
}
.product-container{
    border: .5px solid rgb(212, 206, 206);
    box-sizing: border-box;
    height: 320px;
    width: 250px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
}
.product-container button{
    background-color: burlywood;
    border: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.product-container button:hover{
    background-color: orange;
    color: white;
}
.product{
    padding: 10px;
}
.product img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.product h5, p{
    margin: 0;
}
.product-container button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-container button p{
    margin-right: 10px;
}
.right-section{
    background-color: aquamarine;
}
.right-section .carted-items{
    position: sticky;
    top: 0;
}